#board {
  border: 1px solid black;
  border-spacing: 0;
  margin: 0;
}

#board td {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  padding: 0;

  font-size: 2rem;
  text-align: center;
}

#board tr:nth-child(even) td:nth-child(odd),
#board tr:nth-child(odd) td:nth-child(even) {
  background: gray;
}

a {
  color: #07C;
  text-decoration: none;
}

h1 {
  margin: 0 0 4px;
}
