#board {
  display: flex;
  margin-top: 4px;
}

#board * * {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  background: lightgray;
}

#board * .queen::after {
  content: '♛';
}

#board * .noqueen::after {
  content: '×';
}

#board * .manual {
  color: #07C;
}

#board * .conflict {
  background: #faa !important;
}

#board *:nth-child(even) *:nth-child(odd),
#board *:nth-child(odd) *:nth-child(even) {
  background: gray;
}

.dlxcontrols {
  display: flex;
  align-items: center;
}

#controlsShowingSol {
  margin-left: 4px;
}

a {
  color: #07C;
  text-decoration: none;
}

h1 {
  margin: 0 0 4px;
}
