table#sudoku {
  border: 3px solid black;
  border-collapse: collapse;
  margin: 2mm 0 2mm 0;
}

#sudoku td {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  padding: 0;
}

#sudoku td.right {
  border-right: 2px solid black;
}
#sudoku td.bottom {
  border-bottom: 2px solid black;
}

#sudoku .cell {
  font-family: Arial;
  font-size: 1.5em;
  text-align: center;
  line-height: 2rem;
  width: 100%;
  height: 100%;
}

#sudoku .cell:focus {
  outline: none;
  background: lightblue;
  caret-color: transparent;
}

#sudoku .cell.found {
  color: limegreen;
}

#sudoku .cell.conflict {
  background: #faa;
}

#prev, #next {
  visibility: hidden;
}

.solved #prev, .solved #next {
  visibility: visible;
}
