:root {
  --cell-side: 2rem;
  --border-outer: 3px;
  --border-inner: 3px;
  --border-cell: 1px;

  --sudoku-side: calc(9*var(--cell-side) + 6*var(--border-cell) + 2*var(--border-inner) + 2*var(--border-outer));
}

#sudoku {
  border: solid black;
  border-width: var(--border-outer);
  border-spacing: 0;
  margin: 2mm 0 2mm 0;
  width: var(--sudoku-side);
  height: var(--sudoku-side);
}

#sudoku td {
  height: var(--cell-side);
  width: var(--cell-side);
  border: solid black;
  border-width: 0 var(--border-cell) var(--border-cell) 0;
  padding: 0;
}

#sudoku td:nth-child(3n) {
  border-right: var(--border-inner) solid black;
}
#sudoku tr:nth-child(3n) td {
  border-bottom: var(--border-inner) solid black;
}

#sudoku td:last-child {
  border-right: 0;
}
#sudoku tr:last-child td {
  border-bottom: 0;
}

#sudoku .cell {
  font-family: sans-serif;
  font-size: calc(var(--cell-side) * 0.75);
  text-align: center;
  line-height: var(--cell-side);
  width: 100%;
  height: 100%;
}

#sudoku .cell.found {
  color: limegreen;
}

#sudoku .cell.conflict {
  background: #faa;
}

#sudoku .cell:focus {
  outline: var(--border-cell) solid black;
  background: lightblue;
  caret-color: transparent;
}

body {
  display: grid;
  grid-template-columns: var(--sudoku-side) auto;
  grid-template-rows: auto auto;
  justify-content: center;
}

#controls {
  grid-row: 2;
  width: var(--sudoku-side);
}

#status {
  margin: 2mm 0 0 0;
}

#controls button {
  width: 49%;
  height: 2rem;
  border: 1px solid lightblue;
  border-radius: 3px;
  background: #f8fdff;
}

#controls button:hover, #controls button:active {
  background: lightblue;
}

#run {
  float: right;
}
